In [10]:
import pandas as pd 
import numpy as np

In [11]:
df = pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [12]:
df.shape

(200, 5)

In [13]:
df.drop(columns=['CustomerID'], inplace=True)

In [14]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])

In [15]:
df.head()

   Gender  Age  Annual Income (k$)  Spending Score (1-100)
0       1   19                  15                      39
1       1   21                  15                      81
2       0   20                  16                       6
3       0   23                  16                      77
4       0   31                  17                      40

In [16]:
x = df

In [17]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters = 10,max_iter=300)
km.fit(x, y=None, sample_weight=None)

/home/rohan/.local/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=10)

In [19]:

km.fit_predict(x, y=None, sample_weight=None)

/home/rohan/.local/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

array([3, 9, 5, 9, 3, 9, 5, 9, 5, 9, 5, 9, 5, 9, 5, 9, 5, 9, 5, 9, 5, 9,
       5, 9, 5, 9, 5, 3, 5, 9, 5, 9, 5, 9, 5, 9, 5, 9, 5, 9, 0, 9, 0, 3,
       5, 3, 0, 3, 3, 3, 0, 3, 3, 0, 0, 0, 0, 0, 3, 0, 0, 3, 0, 0, 0, 3,
       1, 0, 3, 3, 0, 1, 0, 0, 0, 7, 1, 1, 7, 1, 0, 1, 0, 1, 7, 1, 1, 7,
       7, 1, 0, 7, 1, 1, 7, 7, 1, 7, 1, 7, 7, 1, 0, 7, 1, 7, 1, 1, 1, 1,
       1, 7, 1, 7, 7, 7, 1, 1, 1, 1, 7, 1, 1, 2, 7, 2, 1, 2, 4, 2, 4, 2,
       7, 2, 4, 2, 4, 2, 4, 2, 4, 2, 7, 2, 4, 2, 1, 2, 4, 2, 4, 2, 4, 2,
       4, 2, 4, 2, 4, 2, 1, 2, 4, 2, 4, 2, 4, 2, 4, 2, 4, 2, 4, 2, 4, 2,
       4, 2, 4, 2, 8, 2, 8, 2, 8, 2, 8, 6, 8, 6, 8, 6, 8, 6, 8, 6, 8, 6,
       8, 6], dtype=int32)

In [21]:

km.get_feature_names_out()

array(['kmeans0', 'kmeans1', 'kmeans2', 'kmeans3', 'kmeans4', 'kmeans5',
       'kmeans6', 'kmeans7', 'kmeans8', 'kmeans9'], dtype=object)

In [22]:
km.score(x)

-38210.325223638196